#hola{
    padding: 10px;
}

#btn{
    margin: 10px;
}

.tienda_container{
    padding:14px;
    margin: 100px;
    margin-top: 10px;
    background: #fff;
    border-radius: 20px;
    font-size: 15px;
}

.form-control{
    height: 35px;
}

.hola{
    margin: 20px;
}

.marca_container{
    padding:80px;
    margin: 150px;
    margin-top: 30px;
    background: #fff;
    border-radius: 20px;
}

.proveedores_container{
    padding:80px;
    margin: 150px;
    margin-top: 30px;
    background: #fff;
    border-radius: 20px;
}

.clientes_container{
    padding:60px;
    margin: 150px;
    margin-top: 30px;
    background: #fff;
    border-radius: 20px;
}

.stocks_container{
    padding: 70px;
    margin: 150px;
    margin-top: 30px;
    background: #fff;
    border-radius: 20px;
}

.empleados_container{
    padding: 60px;
    margin: 150px;
    margin-top: 30px;
    background: #fff;
    border-radius: 20px;
}

nav{
    opacity: 0.4;
    position: sticky;
}
